.full-screen-picture-header {
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: -30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  background-color: rgb(0, 0, 0, 0.5);
}
